<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="development">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <property name="LOG_FILE" value="/tmp/app.log"/>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <springProfile name="development">
        <logger name="dev.cloudconnect" level="debug"/>
    </springProfile>

    <root level="info">
        <appender-ref ref="ROLLING-FILE"/>
        <springProfile name="development">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>